nav.navbar.navbar-default
	.container
	
		.navbar-header
			button.navbar-toggle.collapsed(aria-controls='navbar', aria-expanded='false', data-target='#navbar', data-toggle='collapse', type='button')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') ChampWatch
			
		.navbar-collapse.collapse#navbar
		
			//- navbar-left
			ul.nav.navbar-nav#navbar-links
				// TODO: navbar links?
			
			//- navbar-right (account/sign in)
			ul.nav.navbar-nav.navbar-right#navbar-user
				//- if the user is logged in, show the account dropdown
				- if (user) {
					
				li.dropdown#account-dropdown
					a.dropdown-toggle(data-toggle='dropdown', role='button')
						| #{user.username}&emsp; #[span.caret]
					ul.dropdown-menu
						li: a(href='/account') My account
						li.divider
						li: a(href='/signout') Sign out
				
				//- if no user is logged in, show a "sign in" link
				- } else {
				
				//- small displays and smaller: sign-in link
				li.hidden-md.hidden-lg: a(href='/signin') Sign in
				
				//- medium display and larger: sign-in dropdown
				li.dropdown.hidden-xs.hidden-sm
					a.dropdown-toggle(role='button', data-toggle='dropdown') Sign in&emsp;#[span.caret]
					ul.dropdown-menu
					
						li.dropdown-header Sign in with...
						li: a(href='/signin/twitter') Twitter
						
						li.divider
						li: a(href='/signin') See all options
				
				- }
