extends layouts/main

block styles
	style(type='text/css').
		/* Small devices: < 992px width */
		@media (min-width: 0px) {
			.champ-div img {
				width:  5em;
				height: 5em;
			}
		}
		
		@media (min-width: 992px) {
			.champ-div img {
				width:  7.5em;
				height: 7.5em;
			}
		}
		

block scripts

block content
	div(style='margin-top:2em')
	.container(style='text-align:center')
		h2.page-header Free Champs
		.row
			.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2#champs-container
	
				//- if we have champs, show them
				- if (champs) {
					
				ul.list-inline#champs
					- for (var i in champs) {
						- var key  = champs[i].key;
						- var name = champs[i].name;
						
						li.champ(id='#{key}')
							.champ-div
								img(title="#{name}", src="#{buildImageURL(key)}")
								p= name === "Heimerdinger" ? "Donger" : name
					- }
					
					//- if we have no champs, then what the fuck
				- } else {
					.error#err-no-champs
						p
							b Error: 
							| no champs
				- } //- if (champs) { ... } else { ... }
				//- #champs-container
			//- .row
		//- div.container
//- block content
