doctype html
html
	head
		title #{title}#{title ? ' - ' : ''}ChampWatch
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1')
		
		//- styles
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")
		//- link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/yeti/bootstrap.min.css", rel="stylesheet", integrity="sha256-daEYF2SGTkiPl4cmxH06AOMnZ+Hb8wBpvs7DqvceszY= sha512-xmSDqcgDrroCG8Sp/p0IArjjB3lO0m0Yde0tm1mOFD4BwmsvZnVNfHgw7icU6q4ScrTCQKCokxnYMy/hUUfGrg==", crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/readable/bootstrap.min.css", rel="stylesheet", integrity="sha256-1ROOYEu5qE1d8KD4rRwaA0SiMa6HgZbi8wfdUq2Y4KY= sha512-OF8N9v4J29doCMzg5g0dJ6uz/bnqOaMGz1XFy15YomHPsHAhg52BKTqqi6n7n/Fid2V9CZu2SkyEwivsoUTH7Q==", crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+", crossorigin="anonymous")
		block styles
		
		//- scripts
		script(src="https://code.jquery.com/jquery-2.2.1.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==", crossorigin="anonymous")
		block scripts
		
	body(role='document')
		include ../includes/navbar
		.container
			block content
			
			div(style='margin-top:10em;text-align:center;')
				footer
					hr
					p Powered by: 
						| #[a(href='//nodejs.org') Node.js], 
						| #[a(href='//heroku.com') Heroku], 
						| #[a(href='//getbootstrap.com') Bootstrap], 
						| #[a(href='//fortawesome.github.io/Font-Awesome/') FontAwesome], and 
						| the neat-ass #[a(href='//riotgames.com') Riot Games] API.
						br
						| Nobody behind ChampWatch is affiliated with Riot in any way.
						br
						small
							| Links: 
							| #[a(href='//github.com/chaoticweg/champ-watch') Source code] | 
							| #[a(href='//chaoticweg.github.io') Developer]
